/*
 *  PROYECTO SEGUNDO CORTE
 *      Author ::: Brian Sterling
 *     Program ::: Bases de Datos
 *  Credential ::: SIST0008-G01:SIV
 */

form-style-5
{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background-image: url("wall.jpg");
    border-radius: 8px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

fieldset
{
    border: none;
}

legend 
{
    font-size: 1.4em;
    margin-bottom: 10px;
}

